<mat-toolbar class="base-container">
  <div class="example-sidenav-content">
    <button
      type="button"
      mat-icon-button
      aria-label="Example icon-button with menu icon"
      (click)="clickEvent()"
    >
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <span class="header-small-spacer">WebCar Management</span>
  <span class="header-flex-spacer"></span>
  <button
    mat-icon-button
    class="example-icon favorite-icon"
    aria-label="Example icon-button with heart icon"
  >
    <mat-icon>favorite</mat-icon>
  </button>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with share icon"
  ></button
></mat-toolbar>
